.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 3rem;
}
.title {
  font-size: 4rem;
}

.subHead {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff7a;
}
.apptitle {
  font-size: 2.5rem;
  color: #343434;
  margin-bottom: 2rem;
}
.desc {
  color: black;
  margin-bottom: 1.5rem;
}
.presBy {
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}
.names {
  color: black;
}
.namesCont {
  background-color: #ffffff24;
  border-radius: 0.5rem;
  padding: 1rem;
}
.titleCont {
  background-color: #0000003d;
  border-radius: 0.5rem;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 9rem;
}
.token {
  width: 100%;
  color: #0000001c;
  position: absolute;
  z-index: 999;
  bottom: 13px;
  left: 13px;
}
