body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8ec5fc;
  /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
  width: 100%;
  height: 100vh;
  color: #404040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
